#TabsToolbar {
	visibility: collapse !important;
}

#nav-bar {
	visibility: collapse !important;
}

#PersonalToolbar {
	visibility: collapse !important;
}

#sidebar-box,
#sidebar-splitter {
        visibility: collapse !important;
}
