rescue/hardware-configuration.nix
dist

# Nixtra builds
builds

# Nix store paths
**/*.drv
**/*.nar
**/*.narinfo

# Nix build output
result/
result-*/
.direnv/

# File backups
**/*.bak

# Zsh residue
**/core
